*
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

body
{
    overflow-x: hidden;
    position: relative;
    display: flex;
    gap: 30px;
}

#paises
{
    
    background: rgb(199, 155, 240);
    transition: .3s;
    border-radius: 10px 0 0 10px;

}

#paises.baixos
{
    position: relative;
    transform: translateX(90%);
    transition: .3s;
}

#paises.baixos #abrepernas.toma
{
    right: 200px;
    top: 50%;
    transform: translateY(50%);
}

#paises #abrepernas
{
    position: absolute;
    top: 30px;
    right: 90px;
    transform: translateX(50%);

    width: 35px;
    height: 35px;

    background: white;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-direction: column;

    cursor: pointer;
}


#paises #abrepernas span
{
    width: 20px;
    height: 3px;

    background: rgb(0, 0, 27);
}

#paises #abrepernas.toma span
{
    background: rgb(0, 0, 27);
    transition: .4s;
}

#paises #abrepernas.toma span:nth-child(1)
{
    transform: rotate(45deg) translateY(7px) translateX(6px);
    transition: transform .4s;
    opacity: 1;
}

#paises #abrepernas.toma span:nth-child(3)
{
    transform: rotate(-45deg) translateY(-6px) translateX(4px);
    transition: transform .4s;
    
}

#paises #abrepernas.toma span:nth-child(2)
{
    opacity: 0;
    transition: opacity .4s;
}

#paises ul
{
    list-style: none;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 50px;

    background: blueviolet;
}

#paises ul li
{
    background: blueviolet;
}

#paises ul li a
{
    background: blueviolet;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 24px;
}